
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageError</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container mt-5 text-danger text-center">


        <h1>Error !</h1>
        <h3>Error Code @ViewBag.error</h3>


    </div>

</body>
</html>
