
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-4">
        <img src="~/img/erroricon.png" class="w-100 img-fluid" />
    </div>

    <div class="col-md-8 mt-5 text-center">
        <p class="lead text-center text-danger display-4">Bir hata oluştu.</p>
        <br />
    </div>

</div>
